<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>start</param-value>
    </context-param>
    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
        <init-param>
            <param-name>thresholdSize</param-name>
            <param-value>51200</param-value>
        </init-param>
        <init-param>
            <param-name>uploadDirectory</param-name>
            <param-value>/srv/tmp</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>public/welcome.xhtml</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>user-constraint</display-name>
        <web-resource-collection>
            <web-resource-name>user</web-resource-name>
            <description/>
            <url-pattern>/user/*</url-pattern>
            <url-pattern>/applications/*</url-pattern>
            <url-pattern>/domains/*</url-pattern>
            <url-pattern>/engines/*</url-pattern>
            <url-pattern>/tasktypes/*</url-pattern>
            <url-pattern>/groups/*</url-pattern>
            <url-pattern>/getconcepts/*</url-pattern>
            <url-pattern>/downloadbundle/*</url-pattern>
            <url-pattern>/uploadbundle/*</url-pattern>
            <url-pattern>/workflows/*</url-pattern>
            <url-pattern>/validatesignature/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>user-role</role-name>
            <role-name>admin-role</role-name>
            <role-name>we_dev-role</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>admin-constraint</display-name>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <description/>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admin-role</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>wedev-constraint</display-name>
        <web-resource-collection>
            <web-resource-name>wedev</web-resource-name>
            <description/>
            <url-pattern>/wedev/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>we_dev-role</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>shiwaRealm</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/login-failed.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>user-role</role-name>
    </security-role>
    <context-param>
        <param-name>com.sun.faces.allowTextChildren</param-name>
        <param-value>true</param-value>
    </context-param>
    <security-role>
        <description/>
        <role-name>admin-role</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>we_dev-role</role-name>
    </security-role>
    <env-entry>
        <env-entry-name>edgi-repo-path</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>/srv/shiwa</env-entry-value>
    </env-entry>
</web-app>
